@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-list table {
  width: 300px;
}

.pagination li {
  width: 43px;
}

.detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detail-page p {
  margin: 5px;
}

.detail-page a {
  margin: 20px;
}

.detail-page div {
  width: 250px;
  border: 4px double black;
  border-radius: 10px;
  padding: 10px;
  background-color: bisque;
}