@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .player-list {
  width: 50vw;
} */